@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');
body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
}

a,
a:hover {
  color: #0d6efd;
  text-decoration: none;
}

.botao-animado{
  transition: 0.3s;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
              url('../assets/img/gifFundoLaranja.webp');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.botao-animado:hover{
  transition: 0.3s;
  transform: translateY(-5px);
}

.animacao-gif-fundo-letra2{
  background-image: url('../assets/img/gifRosaLaranja.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.text-color-cx{
  color: #FF4F00;
}